<!DOCTYPE html>
<html lang="zh-CN">
  <head>

    <meta charset="UTF-8">
    <link rel="icon" href="../16gs.ico">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    
    <script type="text/javascript">
window.onload=clock;
function clock(){
	var today=new Date(),//当前时间
		h=today.getHours(),
		m=today.getMinutes(),
		s=today.getSeconds();
	var stopTime=new Date("Jan 31 2020 18:25:00"),//结束时间
		stopH=stopTime.getHours(),
		stopM=stopTime.getMinutes(),
		stopS=stopTime.getSeconds();
	var last=stopTime.getTime()-today.getTime(),//倒计时毫秒数
		H=parseInt(last/3600000),//转换为时
		lastH=parseInt(last)-parseInt(H*3600000),//除去时的毫秒数
		M=parseInt(lastH/(60000)),//除去时的毫秒数转换成分钟
		lastM=lastH-M*60000;//除去时分的毫秒数
		S=parseInt((last-H*3600000-M*60000)/1000)//除去时分的毫秒数转化为秒
	document.getElementById("timer").innerHTML=(H+"时"+M+"分"+S+"秒");
	setTimeout(clock,500);
}
</script>

<style type="text/css">
#timer {
	font-size: 48px;
	font-family: sans-serif;
	font-weight: 1000;
}
.timer{
	background-color: #f80;
	color: #fff;
	font-size: 18px;
	display: grid;
	grid-auto-flow: column;
	}
</style>
    
    
    
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="http://ucme.icu" class="btn">主页</a>
      <a href="http://ucme.icu/app" class="btn">APP下载</a>
      <a href="http://ucme.icu/docs" class="btn">文档</a>
      <a href="http://ucme.icu/data" class="btn">数据</a>
      <a href="http://ucme.icu/about" class="btn">关于</a>
    </header>

    <main id="content" class="main-content" role="main">
	        <div class="timer"><img src="http://thirdqq.qlogo.cn/g?b=qq&nk=2399052066&s=3"/><span>纸鹿君提醒：距离返校还有<div id="timer"/></span></div>
      {{ content }}

      <footer class="site-footer">
        <a rel="stat" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
        <a rel="license" href="http://hits.dwyl.io/L33Z22L11/ucmeicu"><img alt="HitCount" style="border-width:0" src="http://hits.dwyl.io/L33Z22L11/ucmeicu.svg" /></a>
        <span class="site-footer-owner">若无特殊声明，本站所有内容均采用<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>进行许可。</span>
        <span class="site-footer-credits">© 2019 宝中22届16班 由<a href="http://Zhilu.fun">纸鹿君</a>提供技术支持</span>
      </footer>
    </main>
  </body>
</html>
