<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/16gs.ico">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0077ff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"> {{ page.title | '高二十六' }}
      </h1>
      <h2 class="project-tagline"> {{ page.description | '宝鸡中学2019级16班官方网站' }}
      </h2>
      <a href="/" class="btn">主页</a>
      <!-- <a href="/app" class="btn">APP下载</a> -->
      <a href="/docs" class="btn">文档</a>
      <a href="/about" class="btn">关于</a>
    </header>

    <main id="content" class="main-content" role="main">
      <iframe style="width:324px;height:120px;max-width:100%;border:none;display:block;margin:auto" src="//h5.zhilu.cyou/termtimer_embed.html" width="324" height="120"></iframe>

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">
          若无特殊声明，本站所有内容均采用
          <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>
          进行许可。
        </span>
        <span class="site-footer-credits">
          2019-2021 宝中22届16班 h16.zhilu.cyou 由<a href="//Zhilu.cyou">纸鹿</a>提供技术支持
        </span>
      </footer>
    </main>
  </body>
</html>
